body {
    text-align: center;
    font-family:verdana,sans-serif;
    margin:0;
}
/* #######h1's & h2's####### */
.fontcolor1{
    color: #082032;
}

/* ########h3's######### */
.fontcolor2{
    color: #082032;
}

/* ##########footer (a)'s######### */
.fontcolor3{
    color:#FFFFFF;
    font-size: 1.75em;
}

h1 {
    margin: 50px auto 0 auto;  
    font-family: 'Great Vibes', cursive;
    font-size: 5.625rem;

}

h2{
    font-size: 2.5rem;
}

h3{
    font-size: 1.75rem;
}

p{
    font-family: 'Varela Round', sans-serif;
    font-size:1.5rem;
}
/* ####~~~~Cloud locations~~~~#### */
.top-cloud {
    position: absolute;
    right: 53.125em;
    top: 3.125em;
}

.bottom-cloud {
    position: absolute;
    left: 56.25em;
    bottom: 18.75em;
}
/*  ####~~~~!!!!~~~~#### */
.topContainer {
    background-color: #F0A500;
    padding-top: 100px;
    position: relative;
    line-height: .65;
}

.middleContainer {

}

.bottom-container {
    background-color: #082032;
    padding: 80px;

}

.pro{
    text-decoration: underline;
}

#aprogramer{
    font-weight: normal;
}

.skill-row{
    width:50%;
    margin: 0 auto; 
    margin-bottom: 200px;
    text-align: left;
}

.codingpng{
    width: 25%;
    float:left;
    margin-right: 30px;
}

.javapng{
    width: 25%;
    float:right;
    margin-left: 30px;
}

.dotted-h{

}

.middle-image{
    width:12%;
}

/* ~~~~~~~~~~~~~button css~~~~~~~~~~~~~~ */
.BUTTON_LNY {
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 40px;
    font-weight: 90;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;

 }
 
 .BUTTON_LNY:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
    background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
 
 .footer-link{
    margin: 50px;
    text-decoration: none;
 }

 hr{
    border: 0;
    border-top: dotted #337FED 1em;
    width: 5%;
    border-color: lightgrey;
    margin:150px auto;
 }

 a{
    margin: 90px;
    font-family: 'Varela Round', sans-serif;
 }

 .bottom{
     margin-top: 70px;
 }